<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework2</title>
</head>
<body style="background-color: rgb(247, 219, 177)">
    <p>
        <a href="../../index.html"><b>Go to main menu</b></a> 
      </p>
    <img
      width="400px"
      height="430px"
      title="Cat with balloons"
      usemap="#cat"
      src="../../images/cat.jpg"
      alt="Cat image"/> 
      <map name="cat">
          <area href="Details/balloon.html" shape="poly" coords="" alt="Balloon image">
          <area href="Details/cat.html" shape="sircle" coords="" alt="Cat image">
          <area href="Details/cloud.html" shape="rect" coords="" alt="Cloud image">
      </map>
      <p></p>
<table border="1" width="800" height="200"> 
    <tr >
        <th colspan="2" rowspan="2"></th>
        <th rowspan="4"></th>
        <th colspan="4"></th>
    </tr>
    <tr>
        <th></th>
        <th colspan="3"></th>
    </tr>
    <tr>
        <th></th>
        <th rowspan="2"></th>
        <th colspan="2"></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th rowspan="2"></th>
        <th colspan="2"></th>
        <th rowspan="3"></th>
        <th></th>
    </tr>
    <tr>
        <th colspan="2"></th>
        <th rowspan="2"></th>
        <th></th>
        <th rowspan="2"></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>
</body>
</html>